<title>新增病人</title>
<div class="letter">
       <!--  <a href="#/patientInformation" class="addWrap addItem">
                <img src="img/touxiang@2x.png" class="addPhoto addPatient">
                <span class="addIntrodation">彭于晏</span>
                <span class="description">简介简介简介简介</span>
        </a>
        <a href="#/patientInformation" class="addWrap addItem">
                <img src="img/touxiang@2x.png" class="addPhoto addPatient">
                <span class="addIntrodation">吴彦祖</span>
                <span class="description">简介简介简介简介</span>
        </a>
        <a href="#/patientInformation" class="addWrap addItem">
                <img src="img/touxiang@2x.png" class="addPhoto addPatient">
                <span class="addIntrodation">古天乐</span>
                <span class="description">简介简介简介简介</span>
        </a> -->
</div>