<title>选择医院</title>
<div class="box">
        <div class="searchHospital">
                  <div class="searchDetail">
                            <div class="searchBigpic"><img src="img/search@2x.png" ></div>
                            <input type="text" autofocus="autofocus" class="searchWord" placeholder="输入关键字" id="searchWord" autofocus="autofocus"/>
                            <div class="searchDelete"><img src="img/del@2x.png" alt=""></div>
                  </div>
                  <a href="#/patientManagement" class="searchCancel">取消</a>
        </div>
        <div class="letter">
        </div>
</div>
