<title>就诊记录</title>
<div class="medicalRecordst_content">
	<!-- <p>今天</p>
		<div class="medicalRecordst_content1">
			<div class="medicalRecordst_content1Box">
				
				<a href="#/seeThedetails" class="medicalRecordst_content1a">
					<img src="img/cd-2touxing@2x.png"/>
					<div class="medicalRecordst_content1_1">
					   <p>张三<span>长海医院</span><time>15:30:34</time></p>
					   <p><span class="surgery">胸外科</span><span class="surgery">主任医师</span></p>
					   <p style="line-height: 0.53rem;margin-bottom: 0.16rem;"><span>就诊摘要：</span>就真说看明就诊说明就真说看明就诊说明就真说看明就诊说明就真说看明就诊说明就真说看明就诊说明就真说看明</p>
					</div>
				</a>
				<button class="medicalRecordstBtn">删除</button>
			</div>
		</div>
	
	<div class="medicalRecordst_content1">
			<div class="medicalRecordst_content1Box">
				
				<a href="#/seeThedetails" class="medicalRecordst_content1a">
					<img src="img/cd-2touxing@2x.png"/>
					<div class="medicalRecordst_content1_1">
						   <p>李四<span>华山医院</span><time>15:30:34</time></p>
						    <p><span class="surgery">胸外科</span><span class="surgery">主任医师</span></p>
						   <p style="line-height: 0.53rem;margin-bottom: 0.16rem;"><span>就诊摘要：</span>就真说看明就诊说明就真说看明就诊说明就真说看明就诊说明就真说看明就诊说明就真说看明就诊说明就真说看明</p>
					</div>
				</a>
				<button class="medicalRecordstBtn">删除</button>
			</div>
		</div> -->
</div><!-- 


