<title>职业信息</title>

<div class="accountInformationBox">
	<div class="accountInformation_list1">
		<a href="#/chooseHospital" style="border-bottom: 1px solid #f3f3f3;z-index:10" class="hospitalName"><span>医院</span><span  style="font-size: 0.4rem;color: #999999;" class="chooseButton">点击选择</span></a>
		<a style="border-bottom: 1px solid #f3f3f3;" class="sectionName"><span>科室</span>
		<select  style="font-size: 0.4rem;color: #999999;" class="select select1"><option class="first" selected = "selected">点击选择</option></select></a>
		<a style="border-bottom: 1px solid #f3f3f3;" class="rankName"><span>职称</span>
		<select  style="font-size: 0.4rem;color: #999999;" class="select select2"><option class="first" selected = "selected">点击选择</option></select></a>
	</div>
	
	<ul class="accountInformation2">
		<a href="" id='next2' ng-click="next2()">下一步：完善职业信息</a>
		<a href="#/basicInformation">上一步</a>
	</ul>
</div>
<div class="bottomWord">*需要您完成相关的身份认证，才可以使用产品内的相关功能，给您带来不便，还请您谅解！</div>
	<div class="alert">
		<p class="finishInfor">请补全信息</p>

	</div>


