<title>职业信息</title>
<div class="firstForm">
          <div class="formTitle">
                  <div class="formCircle formCircle1"><img src="img/tuoyuan-3@2x.png" class="rightImg1"></div>
                   <span>执业医师证书+手持身份证</span>
          </div>
          <div class="formPhoto">
                  <div class="pictureBox">
                          <div class="pictureOne"><img src="img/D_pic.png" class="idCard"></div>
                          <div class="pictureTwo"><img src="img/D_pic2.png" class="idCard"></div>
                          <span class="pictureWord wordOne">样图</span>
                  </div>
                  <div class="sideLine"></div>
                  <div class="plusBox">
                          <div class="firstPlus">
                          	   <img src="img/3@2x.png" class="plus img1" ng-click="chooseImg1()">
                          	   <div class="zuile" id="gao1"><img src="img/icon@2x.png" class="fule" id="xiang1"/></div>
                          </div>
                          <div class="secondPlus">
                          	  <img src="img/3@2x.png" class="plus img2" ng-click="chooseImg2()">
                          	  <div class="zuile" id="gao2"><img src="img/icon@2x.png" class="fule" id="xiang2"/></div>
                          </div>
                          <span class="pictureWord wordTwo">上传图片</span>
                          <div class="mask1"></div>
                  </div>
          </div>
</div>
<div class="firstForm">
          <div class="formTitle">
                  <div class="formCircle formCircle2 zuile"><img src="img/tuoyuan-3@2x.png" class="rightImg2" style="display:none"></div>
                  <span> 胸牌或职证书+手持身份证</span>
          </div>
          <div class="formPhoto">
                  <div class="pictureBox">
                          <div class="pictureOne"><img src="img/D_pic.png" class="idCard"></div>
                          <div class="pictureTwo"><img src="img/D_pic2.png" class="idCard"></div>
                          <span class="pictureWord wordOne">样图</span>
                          
                  </div>
                  <div class="sideLine"></div>
                  <div class="plusBox">
                          <div class="firstPlus">
                          	   <img src="img/3@2x.png" class="plus img3" ng-click="chooseImg3()">
                          	   <div class="zuile" id="gao3"><img src="img/icon@2x.png " class="fule" id="xiang3"/></div>
                          </div>
                          <div class="secondPlus">
                          	  <img src="img/3@2x.png" class="plus img4" ng-click="chooseImg4()">
                          	  <div class="zuile" id="gao4"><img src="img/icon@2x.png" class="fule" id="xiang4"/></div>
                          </div>
                          <span class="pictureWord wordTwo">上传图片</span>
                          <div class="mask mask2"></div>
                  </div>

          </div>
</div>
<p class="explain">说明：请确保您的信息与上传认证图片的一致，并确保略知图片的清晰与真实，以便于我们尽快核实您的信息！
</p>
<div class="btnBox">
        <a href="" class="submitBtn" ng-click="submit()">提&nbsp;&nbsp;&nbsp;交</a>
        <a href="#/professionalInformation/hospitalid/hospitalname" class="lastBtn">上一步</a>
</div>
<div class="bottomWord">*需要您完成相关的身份认证，才可以使用产品内的相关功能，给您带来不便，还请您谅解！</div>
<div class="alert">
        <p class="finishInfor">请补全信息</p>
	</div> 
