<title>职业信息</title>
<div class="submission">
        <div class="successful">您的资格认证信息已成功提交</div>
        <div class="successfulPic"><img src="img/circle_icon_on@2x.png" class="successfulImg"></div>
</div>
<div class="handle">
          <div class="handleBox">
                 我们的会尽快对您提交的信息进行核实，到时可能会有我们的客服MM与您联系，还请您接听，整个核实会在3~5个工作日完成，给您带来不便，还请谅解!
          </div>
          <div class="handleWrap"><img src="img/pic2@2x.png" class="handlePhoto"></div>
</div>
<div class="enterPatient">
    <a href="http://www.dianneidna.com/weixin/patient/index.html#/index" class="enterBtn">进入我想测试</a>   
</div>
<div class="bottomWord">*需要您完成相关的身份认证，才可以使用产品内的相关功能，给您带来不便，还请您谅解！</div>
