<title>选择医院</title>
<div class="searchHeader">
            <a href="#/matchHospital" class="searchButton">
                       
                       <img src="img/search@2x.png" class="searchBigpic">
                       <span class="searchWord">点击输入医院名称</span>
                 
            </a>
</div>
<div class="letter1">
       <!--   <p class="FirstLetter">A</p>
        <a href="#/patientInformation" class="addBox addItem">

                <span class="addTitle addName">第二军医大附属长海医院</span>
        </a>
        <a href="#/patientInformation" class="addBox addItem">

                <span class="addTitle addName">第二军医大附属长海医院</span>
        </a>
        <a href="#/patientInformation" class="addBox addItem">

                <span class="addTitle addName">第二军医大附属长海医院</span>
        </a> -->
</div>
<div class="rightSidebar">
       <div class="sideBigpic">
                <img src="img/search_icon2@2x.png" class="bigPic">
       </div>
      <!--  <div class="sideBigpic">
                <img src="img/search_icon2@2x.png" class="bigPic">
       </div>
        <span class="searchLetter">A</span>
        <span class="searchLetter">B</span>
        <span class="searchLetter">C</span>
        <span class="searchLetter">D</span>
        <span class="searchLetter">E</span>
        <span class="searchLetter">F</span>
        <span class="searchLetter" style="padding-left:0.06rem">G</span>
        <span class="searchLetter" style="padding-left:0.06rem">H</span>
        <span class="searchLetter" style="padding-left:0.06rem">I</span>
        <span class="searchLetter" style="padding-left:0.06rem">J</span>
        <span class="searchLetter" style="padding-left:0.07rem">K</span>
        <span class="searchLetter">L</span>
        <span class="searchLetter" style="padding-left:0.06rem">M</span>
        <span class="searchLetter" style="padding-left:0.07rem">N</span>
        <span class="searchLetter">O</span>
        <span class="searchLetter" style="padding-left:0.09rem">P</span>
        <span class="searchLetter" style="padding-left:0.06rem">Q</span>
        <span class="searchLetter">R</span>
        <span class="searchLetter">S</span>
        <span class="searchLetter">T</span>
        <span class="searchLetter" style="padding-left:0.06rem">U</span>
        <span class="searchLetter">V</span>
        <span class="searchLetter" style="padding-left:0.05rem">W</span>
        <span class="searchLetter">X</span>
        <span class="searchLetter">Y</span>
        <span class="searchLetter">Z</span>
        <span class="searchLetter">#</span> -->
         <span class="searchLetter" id='last'>#</span>
</div>