<title>门诊信息</title>
<div class="medicalAmount">
         <div class="yearItem">
         	        <span class="yearTitle">年度累计就诊量</span>
         	        <span class="yearAmount">{{data.yearcount}}</span>
         </div>
         <div style="float:left;width:0.014rem;height:2.02rem;margin-top:0.32rem;background:#fff"></div>
         <div class="mouthItem">
                   <div class="topItem detailInfor">
         	       		 <div class="dayTitle detailAmount">当日就诊量</div>
         	       		 <div class="dayAmount amountNumber">{{data.daycount}}</div>
         	         </div>
         	        <div class="bottomItem detailInfor">
         	     	           <div class="mouthTitle detailAmount">当月就诊量</div>
     	     	           <div class="mouthAmount amountNumber">{{data.monthcount}}</div>
         	        </div>
         </div>
</div>
<div class="medicalRecordst_content">
	<div class="recordTitle">就诊记录</div>
	<!-- <ul class="patientDetail">
	             <p class="detailDate">2011/12/02</p>
	             <li class="patientItem">

                                <a href="#/predictTable">
		                    <div class="patientContent">
		                             <div class="circle"></div>
		                              <span class="patientName">成龙</span>
		                              <span class="patientAge">(男 34岁)</span>
		                              <span class="patientDate">11:12:03</span>  
		                    </div>
		                    <div class="patientWord">
		                        
		                        <span class="illnessDetail">
		                                 <span class="illnessTitle">就诊摘要 : </span>
		                                  啊哈哈哈哈啊哈哈哈哈的看法就爱上的咖啡机卡上的纠纷可骄傲的康师傅杰卡斯就是打开房间爱看书的积分卡技术的咖啡机可是对方就爱看束带结发
		                        </span> 
		                    </div>
		                           <div class="line"></div>
	                     </a>
	            </li>
	          <li class="patientItem">
                                <a href="#/predictTable">
		                    <div class="patientContent">
		                             <div class="circle"></div>
		                              <span class="patientName">周星驰</span>
		                              <span class="patientAge">(男 34岁)</span>
		                              <span class="patientDate">11:12:03</span>  
		                    </div>
		                    <div class="patientWord">
		                        
		                        <span class="illnessDetail">
		                                 <span class="illnessTitle">就诊摘要 : </span>
		                                  啊哈哈哈哈啊哈哈哈哈的看法就爱上的咖啡机卡上的纠纷可骄傲的康师傅杰卡斯就是打开房间爱看书的积分卡技术的咖啡机可是对方就爱看束带结发
		                        </span> 
		                    </div>
		                           <div class="line"></div>
	                     </a>
	            </li>
           </ul>
           <ul class="patientDetail">
	             <p class="detailDate">2012/12/03</p>
	             <li class="patientItem">
                                <a href="">
		                    <div class="patientContent">
		                             <div class="circle"></div>
		                              <span class="patientName">周润发</span>
		                              <span class="patientAge">(男 34岁)</span>
		                              <span class="patientDate">11:12:03</span>  
		                    </div>
		                    <div class="patientWord">
		                        
		                        <span class="illnessDetail">
		                                 <span class="illnessTitle">就诊摘要 : </span>
		                                  啊哈哈哈哈啊哈哈哈哈的看法就爱上的咖啡机卡上的纠纷可骄傲的康师傅杰卡斯就是打开房间爱看书的积分卡技术的咖啡机可是对方就爱看束带结发
		                        </span> 
		                    </div>
		                           <div class="line"></div>
	                     </a>
	            </li>
	          <li class="patientItem">
                                <a href="">
		                    <div class="patientContent">
		                             <div class="circle"></div>
		                              <span class="patientName">刘德华</span>
		                              <span class="patientAge">(男 34岁)</span>
		                              <span class="patientDate">11:12:03</span>  
		                    </div>
		                    <div class="patientWord">
		                        
		                        <span class="illnessDetail">
		                                 <span class="illnessTitle">就诊摘要 : </span>
		                                  啊哈哈哈哈啊哈哈哈哈的看法就爱上的咖啡机卡上的纠纷可骄傲的康师傅杰卡斯就是打开房间爱看书的积分卡技术的咖啡机可是对方就爱看束带结发
		                        </span> 
		                    </div>
		                           <div class="line"></div>
	                     </a>
	            </li>
	             <li class="patientItem">
                                <a href="">
		                    <div class="patientContent">
		                             <div class="circle"></div>
		                              <span class="patientName">张家辉</span>
		                              <span class="patientAge">(男 34岁)</span>
		                              <span class="patientDate">11:12:03</span>  
		                    </div>
		                    <div class="patientWord">
		                        
		                        <span class="illnessDetail">
		                                 <span class="illnessTitle">就诊摘要 : </span>
		                                  啊哈哈哈哈啊哈哈哈哈的看法就爱上的咖啡机卡上的纠纷可骄傲的康师傅杰卡斯就是打开房间爱看书的积分卡技术的咖啡机可是对方就爱看束带结发
		                        </span> 
		                    </div>
		                           <div class="line"></div>
	                     </a>
	            </li>
           </ul> -->
</div>

