<title>当日门诊</title>
<!-- <ul class="patientDetail">
             <p class="detailDate" style="height:0.8rem;font-size:0.4rem;color:#999999;background:#f8f8f8;padding-left:0.32rem;line-height:0.8rem;">12时</p>
             <li class="patientItem">
                    <a href="#/predictTable" class="patientWrap2">
                          <div class="patientContent">
                                   <div class="circle"></div>
                                    <span class="patientName">张三</span>
                                    <span class="patientAge">(男 34岁)</span>
                                    <span class="patientDate">11:12:19</span>  
                          </div>
                          <div class="patientWord">
                              
                                          <span class="illnessDetail">
                                                   <span class="illnessTitle">病情详述 : </span>
                                                    啊哈哈哈哈啊哈哈哈哈的看法就爱上的咖啡机卡上的纠纷可骄傲的康师傅杰卡斯就是打开房间爱看书的积分卡技术的咖啡机可是对方就爱看束带结发
                                          </span> 
                            </div>
                            <div class="line"></div>
                    </a>
            </li>
            
            <li class="patientItem">
                    <a href="#/predictTable" class="patientWrap2">
                              <div class="patientContent">
                                       <div class="circle"></div>
                                        <span class="patientName">张三</span>
                                        <span class="patientAge">(男 34岁)</span>
                                        <span class="patientDate">11:12:19</span>  
                              </div>
                             <div class="patientWord">
                              
                              <span class="illnessDetail">
                                       <span class="illnessTitle">病情详述 : </span>
                                        啊哈哈哈哈啊哈哈哈哈的看法就爱上的咖啡机卡上的纠纷可骄傲的康师傅杰卡斯就是打开房间爱看书的积分卡技术的咖啡机可是对方就爱看束带结发
                              </span> 
                              </div>
                                <div class="line"></div>
                      </a>
            </li>
</ul> -->
<div class="medicalRecordst_content">
  

</div>